.page_info_wrap {
    padding-bottom: 20px;
    display: block;
}
.label {
    padding-top: 5px;
    float: left;
    width: 165px;
    color: #828282;
}
.info_row {
    padding-top: 8px;
}
.labeled {
    overflow: hidden;
    text-overflow: ellipsis;
}